<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060982470748-ah797nrm2hfotlvgu1pqddfo28md28sf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060982470748-ah797nrm2hfotlvgu1pqddfo28md28sf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1060982470748-47ti9subqo1jk3676dq35ebbjdnh9ed8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsrbmeLHpd1Drx1MqQ4GVxRioOWRDofPo</string>
	<key>GCM_SENDER_ID</key>
	<string>1060982470748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.casualjoygames.cashcraze</string>
	<key>PROJECT_ID</key>
	<string>cash-craze-5632a</string>
	<key>STORAGE_BUCKET</key>
	<string>cash-craze-5632a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060982470748:ios:49c85239d36f32ed03ce99</string>
	<key>DATABASE_URL</key>
	<string>https://cash-craze-5632a-default-rtdb.firebaseio.com</string>
</dict>
</plist>